<h1><%=@blogger.name%></h1>
<h3>age: <%=@blogger.age%> </h3>
<h3>bio: <%=@blogger.bio%> </h3>
<h3>total likes: <%=@blogger.likes_sum%> </h3>
<h3>blog with most likes: <%=@blogger.most_liked_post.title%> 
<br> Wow you have:
<%=@blogger.most_liked_post.likes%> likes